{% extends "base.html" %}

{% load i18n allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
    <form class="bg-indigo-100 shadow-md rounded px-8 pt-6 pb-8 mb-4">

        {% element h1 %}
            <label class="block text-gray-700 text-xl font-bold mb-2">
                {% trans "Password Reset" %}
            </label>
        {% endelement %}

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="inline-block align-baseline text-gray-700 mb-2 text-lg">
            {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
        </p>
        {% url 'account_reset_password' as reset_url %}
        {% element form form=form method="post" action=reset_url %}
            {% slot body %}
                {% csrf_token %}
                <label class="block text-gray-700 text-lg font-bold mb-2">
                    {% element fields form=form %}
                    {% endelement %}
                </label>
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" %}
                <button class="bg-indigo-500 hover:bg-indigo-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-2">{% trans 'Reset My Password' %}</button>
                {% endelement %}
            {% endslot %}
        {% endelement %}
        <p class="inline-block align-baseline text-gray-700 mb-2 text-lg">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </form>
{% endblock content %}